<div class="container">
    <div class="form-container">
        <h3>Update Product</h3>
        <div class="form-group">
            <label>Title</label><br/>
            <input type="text" class="form-control" [(ngModel)]="user.title">
        </div><br/>
        <div class="form-group">
            <label>Price</label><br/>
            <input type="text" class="form-control" [(ngModel)]="user.price">
        </div><br/>
    
        <div class="form-group">
            <label>Description</label><br/>
            <input type="text" class="form-control" [(ngModel)]="user.description">
        </div><br/>
    
        <div class="form-group">
             <label>category</label><br/>
            <input type="text" class="form-control" [(ngModel)]="user.category">
        </div><br/>
    
        <button type="submit()" (click)="update()">Submit</button>
    </div>
</div>